   
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/annyang.min.js"></script>
    <script src="js/voice.js"></script> 
  </body>
</html>
